{% extends 'base.html'%} 
{% import 'macros.html' as macro %} 
{% block content%}
<div id="background">
  <style>
    #background{
      background-image: url('../static/adelin-grigorescu-6l5Tc5wDbJY-unsplash.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  </style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <div class="container text-white text-center">
      <h2 class="card-title h1-responsive font-bold" style="font-size:80px; color:white; font-family: 'Dancing Script', cursive; font-weight:bold;">PITCHES IN GEORGIA</h2>
      <p class="lead" style="color: white; font-size:30px;">Welcome to PITCHES in GEORGIA! Just like Peaches in the state of Georgia are known to be produced in high quality and quantity, the PITCHES IN GEORGIA give you the best pitches ever!</p>
      <a class="btn btn-primary btn-lg" href="{{url_for('main.new_pitch')}}"><i class="fas fa-clone left"></i>Create Pitch</a>
    </div>
  <!-- </div> -->

<h3 class="text-center text-uppercase text-bold" style="font-family: 'Dancing Script', cursive; font-size:60px;">CATEGORIES</h3>
<hr>

  <div class="row m-3">
    <div class="col-md-6">
      <div class=" card col-sm pt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3 class="" style="font-family: 'Dancing Script', cursive; font-size:35px; font-weight:bold;">INTERVIEW PITCHES</h3>
            <hr>
            <p>A summary of how one will conduct themselves and answer questions during an interview </p>
                <a href="{{url_for('main.displayInterviewCategory')}}" class="btn btn-primary btn-lg -center">
                View Pitch</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3 style="font-family: 'Dancing Script', cursive; font-size:35px; font-weight:bold;">PROMOTION PITCHES</h3>
            <hr>
            <p>A summary of how promotional pitches should look like.How they are structured. </p>
                <a href="{{url_for('main.displayPromotionCategory')}}" class="btn btn-primary btn-lg -center">
                View Pitch</a>
        </div>
    </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-6">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3 style="font-family: 'Dancing Script', cursive; font-size:35px; font-weight:bold;">PRODUCT PITCHES</h3>
            <hr>
            <p>A summary of what should be included in a product pitch </p>
                <a href="{{url_for('main.displayProductCategory')}}" class="btn btn-primary btn-lg -center">
                View Pitch</a>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3 style="font-family: 'Dancing Script', cursive; font-size:35px; font-weight:bold;">PICKUP-LINE PITCHES</h3>
            <hr>
            <p> Some of the pickup lines that should be included in your pitch</p>
                <a href="{{url_for('main.displayPickupCategory')}}" class="btn btn-primary btn-lg -center">
                View Pitch</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Footer -->
<footer class="page-footer font-large blue-grey darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/">PITCHES IN GEORGIA</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>
{% endblock %}